.main {
  padding: 1rem;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .main {
    padding: 4rem;
  }
}

.h1 {
  text-align: center;
}

.layoutContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
